body {
    font-family: sans-serif;
    text-align: center;
    background-image: linear-gradient(#FFFCFF, #D0C9B6);
    font-family: 'Tangerine', cursive;
    font-family: 'Assistant', sans-serif;
}

button {
    background-color: #D0C9B6;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Assistant', sans-serif;
    font-size: 1em;
    border-left: 5px;
    border-right: 5px;
}

h6 {
    position: fixed;
    padding: 10px;
    left: 0px;
    top: 0px;
    font-size: 1.5em;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #D0C9B6;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #C3AF81;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

#mysidenav {
    text-align: left;
}

.sidenav {
    text-align: left;
}

.menu-item {
    max-width: 90px;
    font-size: 0.9em;
}

a {
    text-decoration-line: none;
    color: inherit;
}

img {
    border-radius: 6px;
    max-width: 50%;
}

h1 {
    margin-top: 0px;
    padding-top: 10px;
    text-transform: capitalize;
}

.overskrift {
    font-family: 'Tangerine', cursive;
    font-size: 2.7em;
}

h5 {
    font-family: 'Tangerine', cursive;
    font-size: 1.8em;
}

footer {
    background-color: #C3AF81;
    box-shadow: #CFCFCB;
    display: flex;
    flex-wrap: wrap;
}

h4 {
    flex-grow: 4;
}

@media screen and (max-width: 1000px) {
    .index_billede img {
        width: 100%;
    }
}


.om_div {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 20px;
}

.om_tekst {
    flex-grow: 1;
    flex-basis: 400px;
}

/*Slideshow*/

* {
    box-sizing: border-box
}

/* Slideshow container */

.slideshow-container {
    max-width: 700px;
    position: relative;
    flex-grow: 1;
    flex-basis: 400px;
    max-height: 400px;
}

/* Hide the images by default */

.mySlides {
    display: none;
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* Styling til ret-informationen (article p {})
*/

.retContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1229px) {
    .retContainer {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 830px) {
    .ret img {
        width: 100%
    }

    .retContainer {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 425px) {
    .ret img {
        width: 100%
    }

    .retContainer {
        grid-template-columns: 1fr;
    }
}

#modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    text-align: center;
    pointer-events: none;
    transition: .5s;
}

#modal-content {

    height: 70vh;
    width: 70vw;
    border-radius: 4px;
    margin: auto;
    margin-top: 4em;
}

#modal.vis {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s;
}

.modal-billede {
    height: 50%;
    width: auto;
}

#modal button {
    margin-top: 10px;
}
